.has-black-background-color {
	background-color: $text_main;
}
.has-black-color {
	color: $text_main;
}

.has-gray-background-color {
	background-color: $dark_steel_gray;
}
.has-gray-color {
	color: $dark_steel_gray;
}

.has-white-background-color {
	background-color: $white;
}
.has-white-color {
	color: $white;
}

.has-purple-background-color {
	background-color: $accent;
}
.has-purple-color {
	color: $accent;
}

.has-green-background-color {
	background-color: $green;
}
.has-green-color {
	color: $green;
}

.has-red-background-color {
	background-color: $red;
}
.has-red-color {
	color: $red;
}

.has-orange-background-color {
	background-color: $orange;
}
.has-orange-color {
	color: $orange;
}
