/cache/
/webp-express/
/plugins/*
/themes/*
!/themes/metageeks/
/advanced-cache.php
/backup-db/
/backups/
/backups-dup-pro/
/blogs.dir/
/cache/
/upgrade/
/uploads/
/languages
/wp-rocket-config/
/wp-cache-config.php
*.log

node_modules
bower_components
npm-debug.log
PHPWebProject0.phpproj

.htaccess
.DS_Store

/themes/metageeks/build
/themes/metageeks/vendor
# themes/metageeks/.eslintrc.js
themes/metageeks/phpcs.xml.dist
