@font-face {
	font-family: 'hwt_artz';
	src: url(../fonts/hwt_artz.woff2) format('woff2'),
			 url(../fonts/hwt_artz.woff) format('woff'),
			 url(../fonts/hwt_artz.ttf) format('truetype');
	font-style: normal;
	font-weight: 700;
}
