// Colors
$white: #fff;
$silver_white: #F7F7F7;
$text_main: #1D1F22;
$accent: #81324A;
$accent_light: #EDDAE0;
$accent_hover: #9E3F5C;
$light_gray: #ECECEC;
$dark_gray: #8E8F90;
$stroke: #D3D3D3;
$stroke_light: #DFDFDF;
$stroke_dark: #C1C1C1;
$steel_gray: #66686F;
$dark_steel_gray: #414248;
$silver_white: #F7F7F7;
$green: #01B599;
$green_dark: #00726B;
$green_light: #E9FAF7;
$red: #DD3F3B;
$orange: #F0AD52;

// Transition
$slow: 500ms;
$normal: 200ms;
$fast: 100ms;

// Screens
$mobile: 899px;
$mobile-xs: 575px;

// Fonts
$artz: 'hwt_artz';
