[type="radio"]:checked,
[type="radio"]:not(:checked),
input.shipping_method:checked,
input.shipping_method:not(:checked) {
	position: absolute;
	left: -9999px;
}

.acf-input {
	input[type="radio"]:checked,
	input[type="radio"]:not(:checked),
	input.shipping_method:checked,
	input.shipping_method:not(:checked) {
		position: relative;
		left: unset;
	}
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label,
input.shipping_method:checked+label,
input.shipping_method:not(:checked)+label {
	position: relative;
	padding-left: 28px;
	cursor: pointer;
	line-height: 20px;
}

[type="radio"]:checked+label::before,
[type="radio"]:not(:checked)+label::before,
input.shipping_method:checked+label::before,
input.shipping_method:not(:checked)+label::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border: 1px solid $stroke;
	border-radius: 100%;
	background: $white;
}

[type="radio"]:checked+label::after,
[type="radio"]:not(:checked)+label::after,
input.shipping_method:checked+label::after,
input.shipping_method:not(:checked)+label::after {
	content: '';
	width: 20px;
	height: 20px;
	background: $white;
	position: absolute;
	top: 0;
	left: 0;
	border: 6px solid $accent;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label::after,
input.shipping_method:not(:checked)+label::after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

[type="radio"]:checked+label::after,
input.shipping_method:checked+label::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
